.widget-holidays {
  background-color: gray;
  padding: 20px;
  .title {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7)
  }
  .numberOfDays {
    font-size: 60px;
  }
  .daysLabel {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .summary {
    font-size: 15px;
  }
}
