$background-color:  #acc612;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);

.widget-octoprint {
  background-color: $background-color;
  margin: 30px;

  .title {
    color: $title-color;
    margin-bottom: 50px;
  }

  .name {
    padding: 10px;
  }

  table td {
    font-size: 20px;
  }

  .label {
    text-align: right;
  }

  .value {
    text-align: left;
    padding-left: 10px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
