<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptime-robot" data-view="Uptime" data-title="Uptime"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="octoprint" data-view="Octoprint" data-title="Octoprint"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
     <div data-id="verbinski" data-view="Verbinski"></div>
   </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="gmail" data-view="List" data-title="Unread E-Mail" data-unordered="true"></div>
   </li>
  </ul>
</div>
