<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptime-robot" data-view="Uptime" data-title="Uptime"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="octoprint" data-view="Octoprint" data-title="Octoprint"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
     <div data-id="verbinski" data-view="Verbinski"></div>
   </li> 
  </ul>
</div>
